.boton-confirmar { 
    background-color: #d51e1e;
    color: white;
    font-weight: bold;
    font-size: 14px;
    padding: 16px;
    border-radius: 5px;
}

.boton-confirmar:hover {
    cursor: pointer;
    background-color: #b11d1d;
}

.ventana-confirmacion {
    display: flex;
    align-items: center;
}