
.AdvertsForm{
    display: inline-block;
    position: relative;
    justify-content: space-between;
    margin: 10px; 
    width: calc(30% - 20px);
    box-sizing: border-box;
    border-style: solid;
    border-color: #4b4a34;
    border-width: 5px;
    border-radius: 5%;
    text-align: center;
  }

  .BotonDetalle{
    padding: 10px;
    background-color: #4b4a34;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
  }

  .Foto{
    border-style: solid;
    border-color: #000000;
    border-width: 2px;
  }
  