.fondo-formulario {
  background-image: url('../../../assets/images/Purple-lavender-flowers.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.formulario {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  background: white;
  border-radius: 10px;
  margin-top: 30px;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.formulario label {
  font-size: 18px;
  color: black;
  margin-bottom: 10px;
  display: block;
}
.name {
  display: flex;
  gap: 40px; 
  margin-right: 20px;
}

.info {
  display: flex;
  gap: 40px; 
  margin-right: 0px;
}
.dni-date {
  display: flex;
  gap: 40px; 
  margin-right: 20px;
}
.direccion {
  margin-right: 20px;
}

.formulario select,
.formulario input[type="text"],
.formulario input[type="email"],
.formulario textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f7f7f7;
  font-size: 18px;
  color: #333;
}

.formulario button {
  padding: 0 20px;
  background-color: #b79bb2;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  height: 60px;
  transition: all 0.4s;
}




