.primer-bloque {
  text-align: center;
  margin-bottom: 30px;
}

.foto-info-prote {
  max-width: 62%;
  height: auto;
  margin: 0 auto; 
}

.texto-info-prote1 {
  padding: 20px;
  text-align: justify;
  font-size: 18px;
  margin: 0 auto;
  max-width: 62%; 
}

.contenedor-info-maps {
  display: flex;
  align-items: center;
  justify-content: center; 
  margin-bottom: 30px;
}

.foto-maps {
  max-width: 35%;
  height: auto;
  margin-bottom: 2%;
}

.recuadros {
  max-width: 55%;
  text-align: justify;
  font-size: 15px;
  margin-left: 2%; /* Añade un margen izquierdo pequeño */
}
