.primer-bloque {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.foto-info-prote1 {
  max-width: 100%; /* Ajusta el tamaño de la imagen al máximo ancho posible */
  height: auto; /* Ajusta la altura automáticamente según la proporción */
  margin: 0 auto; /* Centra la imagen horizontalmente */
}

.texto-info-prote1 {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  text-align: justify;
  margin: 10px; /* Ajusta los márgenes */
  max-width: 800px; /* Ajusta el ancho máximo del texto */

}

.segundo-bloque {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.foto-info-prote2 {
  max-width: 30%; /* Ajusta el tamaño de la imagen al máximo ancho posible */
  height: auto; /* Ajusta la altura automáticamente según la proporción */
  margin: 0 auto; /* Centra la imagen horizontalmente */
  
}

.texto-info-prote2 {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  text-align: justify;
  margin: 10px; /* Ajusta los márgenes */
  max-width: 800px; /* Ajusta el ancho máximo del texto */
  font-size: 18px;
}

.tercer-bloque {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.foto-info-prote3 {
  max-width: 100%; /* Ajusta el tamaño de la imagen al máximo ancho posible */
  height: auto; /* Ajusta la altura automáticamente según la proporción */
  margin: 0 auto; /* Centra la imagen horizontalmente */
}

.texto-info-prote3 {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  text-align: justify;
  margin: 10px; /* Ajusta los márgenes */
  max-width: 800px; /* Ajusta el ancho máximo del texto */
  font-size: 18px;
}

.cuarto-bloque {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px; /* Agrega espacio alrededor del bloque */
}

.foto-info-prote4 {
  max-width: 40%; /* Tamaño de la imagen */
  height: auto;
}

.texto-info-prote4 {
  background-color: #ffffff;
  max-width: 55%; /* Ajusta el ancho del texto */
  text-align: justify;
  margin: 30px;
  font-size: 18px;
}
