
.contenedor-img-header{
    max-width: 100%;
    position: relative;
    
}
.foto-fondo{
    position: relative;
    width: 100%;
    margin-top: 10px;    
    margin-right: 10px;  
    margin-bottom: 10px; 
}
  
.header-img-texto{
    position: absolute;
    top: 8px;
    left: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
}

.texto-foto-fondo{
    font-size: large;
}
.titulo-proceso-de-adopcion {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: rgb(86, 86, 86);
  padding: 10px 20px;
  font-family:Arial, Helvetica, sans-serif;;
  margin-top: 20px;
}


.proceso-de-adopcion {
  max-width: 80%;
  margin: 20px auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

.info-protectora {
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

.foto-diagrama {
  max-width: 80%;
  height: auto;
  margin-right: 30px;
}
  
.contenedor {
  display: flex;
  align-items: center;
}

.imagen-foto-info {
  flex: 1;
  padding: 50px;
}

.imagen-foto-info img {
  max-width: 70%;
}

.texto-info {
  flex: 2;
  padding: 10px;
}

.boton {
  flex: 1;
  padding: 10px;
  text-align: right;
  margin-left: 80px; 
}





