.contenedor-img-header {
  max-width: 100%;
  position: relative;
}
.foto-fondo {
  max-width: 100%;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.titulo-huellas-felices{
  margin-left: 20px;
  text-align: center;
}
.header-img-texto {
  position: absolute;
  top: 8px;
  left: 16px;
}

.texto-foto-fondo {
  text-align: center;
  font-size: large;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.titulo-proceso-de-adopcion {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: rgb(86, 86, 86);
  padding: 10px 20px;
  margin-top: 20px;
}

.proceso-de-adopcion {
  max-width: 80%;
  margin: 20px auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-protectora {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.foto-diagrama {
  max-width: 80%;
  height: auto;
  margin-right: 30px;
}

.contenedor {
  display: flex;
  align-items: center;
}

.imagen-foto-info {
  flex: 1;
  padding: 50px;
}

.imagen-foto-info img {
  max-width: 70%;
  margin-left: 40px;
}

.texto-info {
  flex: 2;
  padding: 10px;
  text-align: justify;
}

.boton {
  flex: 1;
  padding: 10px;
  text-align: right;
  margin-left: 80px;
}
