.contenedor-img-header {
  position: relative;
  height: 80vh; 
  overflow: hidden; /* Evita que el contenido se superponga con la imagen de fondo */
  margin-bottom: 5%;
}

.foto-fondo {
  width: 100%; 
  height: auto; 
  margin: 0; 
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* Enviamos la imagen al fondo */
}

.header-img-texto {
  position: relative;
  transform: translate(-50%, -50%); 
  margin-left: 34%;
  margin-top: 60px;
}

.titulo-huellas-felices {
  text-align: justify;
  font-size: 160%;
}

.texto-foto-fondo {
  text-align: justify;
  font-size: 110%;
}


.contenedor {
  display: flex;
  align-items: center; 
  height: 45vh; 
  margin-bottom: 10%;
}

.imagen-foto-info {
  flex: 1;
  padding: 50px;
}

.imagen-foto-info img {
  max-width: 70%; /* Cambiamos el valor a 100% */
  height: auto; /* Añadimos esta línea */
  margin-left: 40px;
  margin-top: 20px;
}


.texto-info {
  font-size: 110%;
  flex: 2;
  padding: 10px;
  text-align: justify;
}

.boton {
  flex: 1;
  padding: 10px;
  text-align: right;
  margin-left: 80px;
}

